body {
    background-color: #ffffff;
}

h1 {
    color: blueviolet;
    text-align: center;
}

h2 {
    text-align: center;
}

.login{
    justify-content: center;
}

.loginElements{
    justify-self: center;

}
